@charset "UTF-8";

body {
  background-color: #232323;/*#e0e0e0; /* ← ここで背景色を指定 */
  /* overflow: hidden; 全要素でスクロール禁止 */
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic' 
}

h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 10px 0 0 0;
    margin: 0;
}

h1 a {
    font-weight: bold;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

.description {
    line-height: 1.2;
    color: #f3f2eb;
    margin: 0.5em 0 1em 0;
}

h2 {
    font-size: 22px;
    margin: 0;
    padding: 4px 0;
    border-bottom: 1px solid #999;
}

#content-wrapper {
  margin: 0 auto;
  width: 694px;
}

main {
  color: #333;
}
#inner {
    padding: 20px 0 0 0;
}
ul {
    margin: 0 0 0 1em;
    padding: 0;
}
li {
    list-style: disc;
}
p {
    margin: 1em 0;
}
img {
    max-width: 100%;
    max-height: 1080;
    border: 0;
}
hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ccc;
    height: 1px;
}
/* a {
    color: #030202;/* 黒 
    font-weight: normal;
}*/


blockquote {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
}



/* -------------ボタン作成------------- */
a.bt-samp78_no1{
    display: inline-block;
    position: relative;
    top: -500px;
    left: 870px;
    height: 110px;
    width: 110px;
    padding-left:1px;
    text-decoration: none;
    line-height: 110px;
    text-align: center;
    color: #4a4545;
    font-size: 18px;
    font-weight: bold;
    /* text-shadow: 0px 1px 0px #fafafa; */
    background: #6c7275;
    background: -webkit-gradient(linear, left top, left bottom, from(#c7d3d9), to(#6c7275));
    background: -moz-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -o-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -ms-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: linear-gradient(top,  #c7d3d9,  #6c7275);
    border: 1px solid #dcd9d8;
    border-bottom: 1px solid #c1c1bd;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
    -moz-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
    box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
    /* text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7); */
}
/* 訪問済みリンクでも色が変わらないようにする */
a.bt-samp78_no1:visited {
    color: #4a4545;
}/* マゼンダ */
a.bt-samp78_no1:hover { /* マウスオーバー時 */
    background: #c7d3d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#c7d3d9), to(#6c7275));
    background: -moz-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -o-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -ms-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: linear-gradient(top,  #c7d3d9,  #6c7275);
    -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    border-bottom:none;
}
a.bt-samp78_no1:active { /* クリック時 */
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(3px);
    color: #2a72ac;
    text-shadow: 0 0 5px #fff, 0 0 10px #2a72ac;
}

/* -------------------------------- */

/* -------------ボタン作成------------- */
a.bt-samp78_no2{
    display: inline-block;
    position: relative;
    top: -410px;
    left: 660px;
    height: 110px;
    width: 110px;
    padding-left:1px;
    text-decoration: none;
    line-height: 110px;
    text-align: center;
    color: #4a4545;
    font-size: 20px;
    font-weight: bold;
    /* text-shadow: 0px 1px 0px #fafafa; */
    background: #6c7275;
    background: -webkit-gradient(linear, left top, left bottom, from(#c7d3d9), to(#6c7275));
    background: -moz-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -o-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -ms-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: linear-gradient(top,  #c7d3d9,  #6c7275);
    border: 1px solid #dcd9d8;
    border-bottom: 1px solid #c1c1bd;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
    -moz-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
    box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
    /* text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7); */
}
/* 訪問済みリンクでも色が変わらないようにする */
a.bt-samp78_no2:visited {
    color: #4a4545;
}/* マゼンダ */
a.bt-samp78_no2:hover { /* マウスオーバー時 */
    background: #c7d3d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#c7d3d9), to(#6c7275));
    background: -moz-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -o-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -ms-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: linear-gradient(top,  #c7d3d9,  #6c7275);
    -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    border-bottom:none;
}
a.bt-samp78_no2:active { /* クリック時 */
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(3px);
    color: #ac402a;
    text-shadow: 0 0 5px #fff, 0 0 10px #ac402a;
}

/* -------------------------------- */

/* -------------ボタン作成------------- */
a.bt-samp78_no3{
    display: inline-block;
    position: relative;
    top: -410px;
    left: 725px;
    height: 110px;
    width: 110px;
    padding-left:1px;
    text-decoration: none;
    line-height: 110px;
    text-align: center;
    color: #4a4545;
    font-size: 13px;
    font-weight: 900;
    /* text-shadow: 0px 1px 0px #fafafa; */
    background: #6c7275;
    background: -webkit-gradient(linear, left top, left bottom, from(#c7d3d9), to(#6c7275));
    background: -moz-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -o-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -ms-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: linear-gradient(top,  #c7d3d9,  #6c7275);
    border: 1px solid #dcd9d8;
    border-bottom: 1px solid #c1c1bd;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
    -moz-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
    box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
    /* text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7); */
}
/* 訪問済みリンクでも色が変わらないようにする */
a.bt-samp78_no3:visited {
    color: #4a4545;
}/* マゼンダ */
a.bt-samp78_no3:hover { /* マウスオーバー時 */
    background: #c7d3d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#c7d3d9), to(#6c7275));
    background: -moz-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -o-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -ms-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: linear-gradient(top,  #c7d3d9,  #6c7275);
    -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    border-bottom:none;
}
a.bt-samp78_no3:active { /* クリック時 */
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(3px);
    color: #46ac2a;
    text-shadow: 0 0 5px #fff, 0 0 10px #46ac2a;
}

/* -------------------------------- */


/* -------------ボタン作成------------- */
a.bt-samp78_no4{
    display: inline-block;
    position: relative;
    top: -315px;
    left: 515px;
    height: 110px;
    width: 110px;
    padding-left:1px;
    text-decoration: none;
    line-height: 110px;
    text-align: center;
    color: #4a4545;
    font-size: 20px;
    font-weight: bold;
    /* text-shadow: 0px 1px 0px #fafafa; */
    background: #6c7275;
    background: -webkit-gradient(linear, left top, left bottom, from(#c7d3d9), to(#6c7275));
    background: -moz-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -o-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -ms-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: linear-gradient(top,  #c7d3d9,  #6c7275);
    border: 1px solid #dcd9d8;
    border-bottom: 1px solid #c1c1bd;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
    -moz-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
    box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
    /* text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7); */
}
/* 訪問済みリンクでも色が変わらないようにする */
a.bt-samp78_no4:visited {
    color: #4a4545;
}/* マゼンダ */
a.bt-samp78_no4:hover { /* マウスオーバー時 */
    background: #c7d3d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#c7d3d9), to(#6c7275));
    background: -moz-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -o-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: -ms-linear-gradient(top,  #c7d3d9,  #6c7275);
    background: linear-gradient(top,  #c7d3d9,  #6c7275);
    -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    border-bottom:none;
}
a.bt-samp78_no4:active { /* クリック時 */
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(3px);
    color: #aaac2a;
    text-shadow: 0 0 5px #fff, 0 0 10px #aaac2a;
}
/* -------------------------------- */

/* -------------ボタン作成------------- */

a.bt-samp79{
display: inline-block;
position: relative;
top: -150px;
left: -800px;
height: 40px;
width: 40px;
padding-left:1px;
text-decoration: none;
line-height: 40px;
text-align: center;
color: #424040;
font-size: 25px;
/*text-shadow: 0px 1px 0px #fafafa;*/
background: #cfcecc;
background: -webkit-gradient(linear, left top, left bottom, from(#cfcecc), to(#c4c4c2));
background: -moz-linear-gradient(top,  #cfcecc,  #c4c4c2);
background: -o-linear-gradient(top,  #cfcecc,  #c4c4c2);
background: -ms-linear-gradient(top,  #cfcecc,  #c4c4c2);
background: linear-gradient(top,  #cfcecc,  #c4c4c2);
border: 1px solid #dcd9d8;
border-bottom: 1px solid #c1c1bd;
border-radius: 50%;
-webkit-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
-moz-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
/*text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);*/
}
a.bt-samp79:hover { /* マウスオーバー時 */
background: #cfcecc;
background: -webkit-gradient(linear, left top, left bottom, from(#cfcecc), to(#c4c4c2));
background: -moz-linear-gradient(top,  #cfcecc,  #c4c4c2);
background: -o-linear-gradient(top,  #cfcecc,  #c4c4c2);
background: -ms-linear-gradient(top,  #cfcecc,  #c4c4c2);
background: linear-gradient(top,  #cfcecc,  #c4c4c2);
-webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
-moz-box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
border-bottom:none;
}
a.bt-samp79:active { /* クリック時 */
-ms-transform: translateY(2px);
-webkit-transform: translateY(2px);
transform: translateY(2px);
}

/* 訪問済みリンクでも色が変わらないようにする */
a.bt-samp79:visited {
    color: #ce0ad1;
}/* マゼンダ */

.my-text {
position: relative; /* 相対的な位置指定を有効に */
color: #c4c4c2;
top: -125px;
left: -850px;
}


/* -------------------------------- */

/* 画面作成 */

.neumorphism-box {
    /* ▼ ここに指定のスタイルを記述 ▼ */
    
    border-radius: 8px;
    background: #232323;
    box-shadow:  5px 5px 10px #121212,
             -5px -5px 10px #353535;
    
/*     
    5px 5px 10px #d0d0d0,
                 -5px -5px 10px #f0f0f0; */
    
    /* ▼ 見栄えを良くするための追加スタイル（任意） ▼ */
    position: relative; /* ← これが基準になります */
    top: 25px;
    left: -230px;
    width: 1000px; /* 親要素の幅いっぱいに広がる */
    height: 750px; /* 高さはコンテンツに応じて自動調整 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #232323;
}

.can-scroll {
    border-radius: 8px;
    padding: 20px;
    width: 900px;
    height: 650px;
    background-color: #f2f2f2;
    position: absolute;
    top: 10;
    left: 10;
    overflow: auto;
}

.h1_home {
    position: relative;
    left: 0px;
    font-size: 60px;
    font-weight: bold;
    color: #232323;
    border-bottom: 2px solid #232323;
}

/* 顔写真の設定 */
.myface {
    position: relative;
    top: 100px;
    float: left;
    padding: 0 1em 1em 0; 
}


.h1_name {
    position: relative;
    top: 170px;
    left: 100px;
    font-size: 40px;
    font-weight: bold;
    color: #232323;
}

.home-text {
    color: #232323;
    top: 170px;
    left: 20px;
    font-size: 24px;
    position: relative; /* 相対的な位置指定を有効に */
  }

.h1_history {
    position: relative;
    left: 0px;
    font-size: 60px;
    font-weight: bold;
    color: #232323;
    border-bottom: 2px solid #232323;
}

.hobby-text {
    color: #232323;
    font-size: 24px;
    position: relative; /* 相対的な位置指定を有効に */
  }

/*------------------アコーディオン---------------------------- */
/*------------------YouTube---------------------------- */
.accordion-001 {
    max-width: 1000px;
    background-color: #f2f2f2;
}

.accordion-001:not([open]) {
    margin-bottom: 7px;
}

.accordion-001 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #de2626;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.accordion-001 summary::-webkit-details-marker {
    display: none;
}

.accordion-001 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    transition: transform .3s;
}

.accordion-001[open] summary::after {
    transform: rotate(225deg);
}

.accordion-001 p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 1em 2em 2em 2em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}

.accordion-001[open] p {
    transform: none;
    opacity: 1;
}

/*------------------Game---------------------------- */
.accordion-002 {
    max-width: 1000px;
    background-color: #f2f2f2;
}

.accordion-002:not([open]) {
    margin-bottom: 7px;
}

.accordion-002 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #2589d0;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.accordion-002 summary::-webkit-details-marker {
    display: none;
}

.accordion-002 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    transition: transform .3s;
}

.accordion-002[open] summary::after {
    transform: rotate(225deg);
}

.accordion-002 p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 1em 2em 2em 2em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}

.accordion-002[open] p {
    transform: none;
    opacity: 1;
}

/*------------------Anime---------------------------- */
.accordion-003 {
    max-width: 1000px;
    background-color: #f2f2f2;
}

.accordion-003:not([open]) {
    margin-bottom: 7px;
}

.accordion-003 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #879b19;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.accordion-003 summary::-webkit-details-marker {
    display: none;
}

.accordion-003 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    transition: transform .3s;
}

.accordion-003[open] summary::after {
    transform: rotate(225deg);
}

.accordion-003 p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 1em 2em 2em 2em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}

.accordion-003[open] p {
    transform: none;
    opacity: 1;
}
/*-------------------------------------------------- */

.responsive {
    position: relative;
    width: 100%;
    left: 170px;
    /* aspect-ratio: 16/9; */
    }

.footer {
    position: sticky;
    top: 100vh;
    /* SVGを背景画像として指定 */
    background-image: url("wave.svg");
    /* 画像が繰り返し表示されないようにする */
    background-repeat: no-repeat;
    /* 画像が要素全体を覆うように調整
    background-size: cover;*/
    /* 高さをつけないと背景が見えないので注意 */
    height: 320px;
    width: 100%;
    
    font-size: 15px;
    clear: both;

    ext-align: center;
    color: #fff;
}


/* @media screen and (max-width: 767px) {
    .description {
        
    }
    
    #content-wrapper {
        margin: 0;
        width: 100%;}
    main {
        width: 100%;
        color: #333;
    }
    #inner {
        padding: 20px 10px 0 10px;
    }
    
    aside {
        width: 100%;
    }
    
    #middle-inner {
        padding: 10px 10px 20px 10px;
    }
    
    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    h4 {
        font-size: 14px;
    }
}*/