@charset "UTF-8";

h1 {
    font-size: 26px;
    font-weight: bold;
    padding: 10px 0 0 0;
    margin: 0;
}

h1 a {
    font-weight: bold;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

.description {
    line-height: 1.2;
    color: #f3f2eb;
    margin: 0.5em 0 1em 0;
}

h2 {
    font-size: 22px;
    margin: 0;
    padding: 4px 0;
    border-bottom: 1px solid #999;
}

#content-wrapper {
    margin: 0 auto;
    width: 694px;
}

main {
    color: #333;
}
#inner {
    padding: 20px 0 0 0;
}
ul {
    margin: 0 0 0 1em;
    padding: 0;
}
li {
    list-style: disc;
}
p {
    margin: 1em 0;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ccc;
    height: 1px;
}
a {
    color: #f0f3f5;
    font-weight: normal;
}
aside {
    
}
#middle-inner {
    padding: 20px 0 20px 0;
}
.side-title {
    padding: 7px 16px 7px 16px;
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}
.side {
    margin: 0 0 10px 0;
    padding: 2px 8px 8px 7px;
    background-color: #fcfcfc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.side ul {
    margin: 0 0 0 10px;
    padding: 0;
}
.side li {
    list-style: none;
    margin-bottom: 0.5em;
}
.side li a {
    text-decoration: none;
    color: #214555;
}
.side li a:hover {
    text-decoration: none;
}
blockquote {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
}

/* -------------ボタン作成------------- */
a.bt-samp78{
  display: inline-block;
  position: relative;
  height: 160px;
  width: 160px;
  padding-left:1px;
  text-decoration: none;
  line-height: 160px;
  text-align: center;
  color:　#6e0404;
  font-size: 18px;
  text-shadow: 0px 1px 0px #240909;
  background: #e4e3e2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5a4a4), to(#d61313));
  background: -moz-linear-gradient(top,  #f5a4a4,  #d61313);
  background: -o-linear-gradient(top,  #f5a4a4,  #d61313);
  background: -ms-linear-gradient(top,  #f5a4a4,  #d61313);
  background: linear-gradient(top,  #f5a4a4,  #d61313);
  border: 1px solid #dcd9d8;
  border-bottom: 1px solid #c1c1bd;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
  -moz-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
  box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 0 1px #c7c5c1;
  /* text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7); */
}
a.bt-samp78:hover { /* マウスオーバー時 */
  background: #e4e3e2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5a4a4), to(#d61313));
  background: -moz-linear-gradient(top,  #f5a4a4,  #d61313);
  background: -o-linear-gradient(top,  #f5a4a4,  #d61313);
  background: -ms-linear-gradient(top,  #f5a4a4,  #d61313);
  background: linear-gradient(top,  #f5a4a4,  #d61313);
  -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
  border-bottom:none;
}
a.bt-samp78:active { /* クリック時 */
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(3px);
}
/* 訪問済みリンクでも色が変わらないようにする */
a.bt-samp78:visited {
  color: #6e0404;
}

/* -------------------------------- */

.footer {
    position: sticky;
    top: 100vh;
    /* SVGを背景画像として指定 */
    background-image: url("wave.svg");
    /* 画像が繰り返し表示されないようにする */
    background-repeat: no-repeat;
    /* 画像が要素全体を覆うように調整
    background-size: cover;*/
    /* 高さをつけないと背景が見えないので注意 */
    height: 320px;
    width: 100%;
    
    font-size: 15px;
    clear: both;

    ext-align: center;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .description {
        
    }
    
    #content-wrapper {
        margin: 0;
        width: 100%;}
    main {
        width: 100%;
        color: #333;
    }
    #inner {
        padding: 20px 10px 0 10px;
    }
    
    aside {
        width: 100%;
    }
    
    #middle-inner {
        padding: 10px 10px 20px 10px;
    }
    
    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    h4 {
        font-size: 14px;
    }
}
